SngClient/Library
SngClient/SngClient.sln
SngClient/SngClient.csproj
SngClient/SngClient.Plugins.csproj
SngClient/Assets/Plugins
SngClient/.vs/SngClient/v14/.suo
RealtimeSocialVille/SngCommon/SngCommon.csproj
RealtimeSocialVille/RealtimeSocialVille.v12.suo

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.pdb
RealtimeSocialVille/SngServer/x64/ProudNetClientPlugin.pdb
RealtimeSocialVille/SngServer/x64/ProudNetClientPlugin.dll
RealtimeSocialVille/SngServer/Win32/ProudNetServerPlugin.pdb
RealtimeSocialVille/SngServer/Win32/ProudNetServerPlugin.dll
RealtimeSocialVille/SngServer/Win32/ProudNetClientPlugin.pdb
RealtimeSocialVille/SngServer/Win32/ProudNetClientPlugin.dll
RealtimeSocialVille/SngServer/x64/ProudNetServerPlugin.pdb
RealtimeSocialVille/SngServer/x64/ProudNetServerPlugin.dll
RealtimeSocialVille/SngServer/bin/Debug/ProudDotNetClient.dll
RealtimeSocialVille/SngServer/bin/Debug/ProudNetServerPlugin.dll
RealtimeSocialVille/SngServer/bin/Debug/ProudNetClientPlugin.dll
RealtimeSocialVille/SngServer/bin/Debug/ProudDotNetServer.dll
RealtimeSocialVille/SngServer/ProudDotNetServer.dll
RealtimeSocialVille/SngServer/ProudDotNetClient.dll
SngClient/Temp/
